<%- include("partials/header"); -%>	
        
        <!-- Content -->
        <div id="content">
            <div class="form-container">
                <div class="form">
                    <!-- <a href="#"  id="buttonTransaction" class="button transaction" onclick="openForm()">MAKE TRANSACTION</a> -->

                    <!-- <div class="form-popup" id="myForm">
                        <form action="{{ url_for('get_transactions', customer_id=current_id, page=current_page) }}" method="post" novalidate>
                            {{ form.csrf_token }}
                            {{ form.date.label }} {{ form.date }}
                            <br>
                            {{ form.amount.label }} {{ form.amount }}
                            {{ form.concept.label }} {{ form.concept }}

                            <div class="row form-buttons">
                                <div class="col-4">
                                    {{ form.submit_in }}
                                </div>
                                <div class="col-4">
                                    {{ form.submit_out }}
                                </div>
                                <div class="col-4">
                                    <input type="button" id="button_close" class="button close" onclick="closeForm()" value="CLOSE"></input>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
            <div class="inner">
                <!-- <%  transactions.forEach(function(transaction){ %> -->
                <!-- {% for i in range(0,num_rows) %} -->
                    <!-- {% if i < current_page*5 and i >= (current_page*5)-5 %} -->
                    <!-- Post -->
                        <!-- <article class="box post post-excerpt">
                            <header>
                                <% if (transaction.type == 'IN') %>
                                    <h2><i class="fa-sharp fa-solid fa-arrow-up"></i><%= transaction.amount %></h2>
                                <% else %>
                                    <h2><i class="fa-sharp fa-solid fa-arrow-down"></i><%= transaction.amount %></h2>
                                <% endif %>
                                <p><%= transaction.concept %></p>
                            </header>
                            <div class="info">
                                <span class="date"><span class="month"><%= transaction.date_formatted[5:8] %></span> <span class="day"><%= transactions[i].date_formatted[9:11] %></span><span class="year"><%= transactions[i].date_formatted[:4] %></span></span>
                            </div>
                            <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                        </article>
                    <% endif %>
                
                <% }) %> -->

                <!-- Pagination -->
                    <!-- <div class="pagination">
                        {% if current_page > 1 %}
                            <a href="/customer/<%=current_id%>/<%=current_page-2>" class="button previous">Previous Page</a>
                        {% endif %}
                        <div class="pages">
                            {% for i in range(1, num_pages) %}
                                {% if i == current_page %}
                                    <a href="/customer/<%=current_id%>/<%=i-1>" class="active">{{ i }}</a>
                                {% elif i < num_pages %}
                                    <a href="/customer/<%=current_id%>/<%=i-1>">{{ i  }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if current_page < num_pages %}
                            <a href="/customer/<%=current_id%>/<%=current_page>" class="button next">Next Page</a>
                        {% endif %}
                    </div> -->

            </div>
        </div>

    <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo -->
                <h1 id="logo"><a href="#">PIGGYBANK</a></h1>

            <!-- Nav -->
                <nav id="nav">
                    <ul>
                    <!-- <%  customers.forEach(function(customer){ %> -->
                    <!-- {% for customer in all_customers %} -->
                        <!-- <% if (customer._id == current_id) %> -->
                            <!-- <li class="current"><a href="#"><%=customer.name%></a></li> -->
                        <!-- <% else %> -->
                            <!-- <li><a href="/customer/<%= customer._id %>/<% =0 %>"><%= customer.name %> - <%= customer.balance %></a></li> -->
                        <!-- <% endif %> -->
                    <!-- <% }) %> -->
                    </ul>
                </nav>

<!--				Button Graph-->
            <!-- <div id="btnGraph">
                <a href="{{ url_for('show_graph') }}" class="button graph">Graph</a>
            </div> -->

            <!-- Copyright -->
                <ul id="copyright">
                    <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>

        </div>


<%- include("partials/footer"); -%>